/.next/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

.env
.env.development
.env.test
.env.production

tsconfig.tsbuildinfo
# Sentry
.sentryclirc
